data/wsdl/RecibirCove.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://www.ventanillaunica.gob.mx/cove/ws/oxml/"
	xmlns:tns="http://www.ventanillaunica.gob.mx/cove/ws/oxml/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


	<!-- Compuestos comunes a las operaciones -->
	<xsd:simpleType name="TipoIdentificador">
		<xsd:annotation>
			<xsd:documentation>
				Indica como se identifica la factura, el emisor o el
				destinatario. 
				&lt;pre> Valores posibles : 
					0 - TAX ID. Se identifica con tax id. 
					1 - RFC. Se identifica con rfc 
					2 - CURP. Se identifica con curp. 
					3 - SIN_TAX_ID Se indentifica sin TAX ID&lt;/pre>
    		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration id="TAX_ID" value="0" />
			<xsd:enumeration id="RFC" value="1" />
			<xsd:enumeration id="CURP" value="2" />
			<xsd:enumeration id="SIN_TAX_ID" value="3" ></xsd:enumeration>
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TipoOperacion">
		<xsd:annotation>
			<xsd:documentation>
				Indica como se identifica la factura, el emisor o el
				destinatario. &lt;pre> 
				Valores posibles : 
					TOCE.IMP - Importacion
					TOCE.EXP - Exportacion. &lt;/pre>
    		</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TOCE.IMP" id="importacion"/>
			<xsd:enumeration value="TOCE.EXP" id="exportacion"/>
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Subdivision">
		<xsd:annotation>
			<xsd:documentation> Indica si la factura tiene o no subdivision.
				&lt;pre>
				Valores posibles :
				0 - NO TIENE SUBDIVISION.
				1 - SI TIENE SUBDIVISION
				&lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration id="SIN_SUBDIVISION" value="0" />
			<xsd:enumeration id="CON_SUBDIVISION" value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CertificadoOrigen">
		<xsd:annotation>
			<xsd:documentation> &lt;pre>
				0 = No Funge como certificado de origen
				1 = Con Funge como certificado de origen

				Derivado de la excepción de certificados de Origen de los Tratados de Libre
				Comercio que ha celebrado México con diversos países como: Costa
				Rica,
				Bolivia, Nicaragua, Chile, Israel, El Salvador, Guatemala y Honduras,
				Uruguay, América del Norte y Acuerdo con Japón. &lt;/pre>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration id="NO_FUNGE_COMO_CERTIFICADO_DE_ORIGEN"
				value="0" />
			<xsd:enumeration id="SI_FUNGE_COMO_CERTIFICADO_DE_ORIGEN"
				value="1" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TipoFigura">
		<xsd:annotation>
			<xsd:documentation> Indica el tipo de figura  que firma el
				Comprobante de Valor Electrónico. &lt;pre>
				Valores aceptados
				4 - EXPORTADOR
				5 - IMPORTADOR &lt;/pre>       </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration id="EXPORTADOR" value="4" />
			<xsd:enumeration id="IMPORTADOR" value="5" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="DescripcionMercancia">
		<xsd:annotation>
			<xsd:documentation> Descripción específica de la mercancía de la
				factura. &lt;pre>
				validaciones:
			marca :
				tipo : alfanumérico
				longitud máxima : 100
				obligatorio : no
			modelo :
				tipo : alfanumérico
				longitud máxima : 50
				obligatorio : no
			Sub-Modelo :
				tipo : alfanumérico
				longitud máxima : 50
				obligatorio : no
			Número de Serie :
				tipo : alfanumérico
				longitud máxima : 25
				obligatorio : no &lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="marca" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Marca de la mercancia. (opcional).
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="modelo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Modelo de la mercancia. (opcional).
						&lt;/re>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subModelo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Submodelo de la mercancia. (opcional).
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroSerie" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Número de Serie de la mercancía
						(opcional). &lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
						<xsd:maxLength value="25" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Mercancia">
		<xsd:annotation>
			<xsd:documentation> Datos de la mercancía que se incluye en la
				factura. &lt;pre>
				validaciones:
			descripcionGenerica :
				tipo : alfanumérico
				longitud máxima : 256
				obligatorio : si
			claveUnidadMedida :
				tipo : númerico
				longitud máxima : 2 
				obligatorio : si
			cantidad :
			tipo : númerico
				longitud máxima : 16 (12 enteros, punto decimal y 3 decimales)
				obligatorio : si
			valorUnitario
				tipo : númerico
				longitud máxima : 24 (17 enteros, punto decimal y 6 decimales)
				obligatorio : si
			valorTotal
				tipo : númerico
				longitud máxima : 24 (17 enteros, punto decimal y 6 decimales)
				obligatorio : si
			valorDolares
				tipo : númerico
				longitud máxima : 17 (12 enteros, punto decimal y 4 decimales)
				obligatorio : si
			descripionEspecifica
				tipo : Lista de DescripcionMercancia
				obligatorio : no &lt;/pre>         </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation />
			</xsd:annotation>
			<xsd:element name="descripcionGenerica" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Descripción comercial
						de la mercancía. &lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="256" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="claveUnidadMedida" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Número de clave de la unidad de medida
						de comercialización de la
						mercancía. Debe ser alguno de los valores de la enumeración UnidadMedida.
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
						<xsd:maxLength value="10"/>
					</xsd:restriction>
				</xsd:simpleType>
				
			</xsd:element>
			<xsd:element name="tipoMoneda" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Clave del tipo de moenda de la mercancia. Este catalogo se ditribuye en la ventanilla</xsd:documentation>
				</xsd:annotation>
					<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
						<xsd:maxLength value="3"/>
						<xsd:minLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cantidad" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Cantidad de unidades de medida de
						comercialización de la mercancía.
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
						<xsd:minInclusive value="0.001" />
						<xsd:maxInclusive value="999999999999.999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorUnitario" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre>Valor por unidad en pesos de la
						mercancía.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
						<xsd:minInclusive value="0.000001" />
						<xsd:maxInclusive value="99999999999999999.99999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorTotal" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Valor total en pesos de la
						mercancía.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
						<xsd:minInclusive value="0.000001" />
						<xsd:maxInclusive value="99999999999999999.99999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorDolares" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre>Valor en dólares de la
						mercancía.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
						<xsd:minInclusive value="0.01" />
						<xsd:maxInclusive value="999999999999.9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="descripcionesEspecificas" type="tns:DescripcionMercancia">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Lista de descripciones específicas de
						la mercancía. Una mercancia
						puede tener mas de una descripcion especifica.
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Domicilio">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Datos del domicilio del Emisor o
				Destinatario.
				validaciones:
			calle :
				tipo : Alfanumérico
				longitud máxima : 100
				obligatorio : si
			numeroExterior :
				tipo : Alfanumérico
				longitud máxima : 55
				obligatorio : no
			numeroInterior :
				tipo : Alfanumérico
				longitud máxima : 55
				obligatorio : no
			colonia :
				tipo : Alfanumérico
				longitud máxima : 120
				obligatorio : no
			localidad :
				tipo : Alfanumérico
				longitud máxima : 120
				obligatorio : no
			municipio :
				tipo : Alfanumérico
				longitud máxima : 120
				obligatorio : no
			entidadFederativa :
				tipo : Alfanumérico
				longitud máxima : 30
				obligatorio : no
			pais :
				tipo : Alfanumérico
				longitud máxima : 120
				obligatorio : si
			codigoPostal :
				tipo : Alfanumérico
				longitud máxima : 12
				obligatorio : no
				&lt;/pre>    
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="calle" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre>Nombre de la calle del
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroExterior" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre>Número exterior del domicilio.&lt;/pre>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="55" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroInterior" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Número interior del domicilio.&lt;/pre>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="55" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="colonia" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Nombre de la colonia del
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="120" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="localidad" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Localidad a la que pertenece el
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="120" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="municipio" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Nombre del municipio del
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="120" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="entidadFederativa" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Nombre del estado o entidad federativa
						al que pertence el
						domicilio&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="30" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="pais" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Nombre del pais al que pertenece el
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="120" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="codigoPostal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Número del código Postal del
						domicilio.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="12" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="Persona">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Generalización de la entidad Emisor y
				Destinatario.
				Datos personales del Emisor o Destinatario de la mercancía.
				validaciones:
			tipoIdentificador :
				tipo : Númerico (TipoIdentificador)
				longitud máxima : 1
				obligatorio : si
			identificacion :
				tipo : Alfanumérico
				longitud máxima : 50
				obligatorio : si
			apellidoPaterno :
				tipo : Alfanumérico
				longitud máxima : 200
				obligatorio : si, opcional si se declara RFC (identificador 1)
			apellidoMaterno :
				tipo : Alfanumérico
				longitud máxima : 200
				obligatorio : si, opcional si se declara RFC (identificador 1)
			nombre :
				tipo : Alfanumérico
				longitud máxima : 200
				obligatorio : si
			domicilio :
				tipo : Domicilio
				obligatorio : si
				&lt;/pre>
				&lt;pre> Identificación de Emisor o Destinatario. Se aplican las siguientes
				validaciones:
				si es tipo identificador 0(tax id)
				tipo : caracter
				longitud maxima : 50
				si es tipo identificador 1(RFC)
				si es persona fisica
				tipo : caracter
				longitud maxima : 13
				formato (AAAANNNNNN---)
				donde :
				A caracter alfabético [A-Za-z]
				N digito [0-9]
				- caracter alfanumérico [A-Za-z0-9]
				si es persona moral
				tipo : caracter
				longitud maxima : 12
				formato (AAANNNNNN---)
				donde :
				A caracter alfabético [A-Za-z]
				N digito [0-9]
				- caracter alfanumérico [A-Za-z0-9]
				si es tipo identificador 2(CURP)
				tipo : caracter
				longitud maxima : 18
				formato (AAAANNNNNNAAAAAA-N)
				donde :
				A caracter alfabético [A-Za-z]
				N digito [0-9]
				- caracter alfanumérico [A-Za-z0-9]
				&lt;/pre>   </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tipoIdentificador" nillable="false"
				type="tns:TipoIdentificador" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Tipo de identificacion del Emisor o
						Destinatario (TaxId, RFC, CURP, Sin TaxID).
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="identificacion" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="apellidoPaterno" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Apellido paterno. Obligatorio, opcional
						si se declara RFC&lt;/pre></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="apellidoMaterno" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Apellido materno. Obligatorio, opcional
						si se declara RFC&lt;/pre></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="nombre" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Nombre o Razón Social.
						Obligatorio&lt;/pre></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="200" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="domicilio" nillable="false" type="tns:Domicilio"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Destinatario">
		<xsd:annotation>
			<xsd:documentation>&lt;pre>Datos del Destinatario de la mercancia.
				&lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Persona" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Emisor">
		<xsd:annotation>
			<xsd:documentation>&lt;pre>Datos del Emisor.&lt;/pre>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Persona" />
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EDocument">
		<xsd:annotation>
			<xsd:documentation>&lt;pre>Identificador único del Comporbante de
				Valor Electrónico (COVE). Este es generado por el sistema.&lt;/pre>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="eDocument">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>Número de identificación del
						COVE.&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="vigencia">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Leyenda que informa al contribuyente
						de el periodo de vigencia del cove &lt;/pre>      </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FacturaCove">
		<xsd:annotation>
			<xsd:documentation>
			certificadoOrigen :
				tipo : Númerico (CertificadoOrigen)
				longitud máxima : 1 [0,1]
				obligatorio : si
			numeroExportadorAutorizado :
				tipo : Alfanumérico
				longitud máxima : 50
				obligatorio : no
			subdivision :
				tipo : Numérico (Subdivision)
				longitud máxima : 1 [0,1]
				obligatorio : si  
    		</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="certificadoOrigen" nillable="false"
				type="tns:CertificadoOrigen" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre>
						0 = No Funge como certificado de origen
						1 = Con Funge como certificado de origen

						Derivado de la excepción de certificados de Origen de los Tratados de
						Libre Comercio que ha celebrado México con diversos países como:
						Costa Rica, Bolivia, Nicaragua, Chile, Israel, El Salvador,
						Guatemala y Honduras, Uruguay, América del Norte y Acuerdo con
						Japón. &lt;/pre>      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="numeroExportadorAutorizado" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Número de exportador confiable,
						conforme al artículo 22 del Anexo 1 del Tratado de Libre Comercio
						con la Asociación Europea y a la Decisión de la Comunidad Europea.
						&lt;/pre>      
                    </xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subdivision" nillable="false"
				type="tns:Subdivision" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						&lt;pre> Indica si el comprobante declarado tiene subdivisión. debe
						contener uno de los valores de la enumeración Subdivision :
						0 NO_TIENE_SUBDIVISION 
						1 SI_TIENE_SUBDIVISION
						&lt;/pre>        
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType abstract="true"
		name="ComprobanteValorElectronicoBase">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Comprobante de Valor Electrónico para
				anexar al pedimento.
				Base para Generar COVE para los 3 tipos ditintos de COVE
				validaciones :
				tipoOperacion :
				tipo : string
				obligatorio : si
				fechaExpedicion :
				tipo : Fecha
				longitud máxima : 10
				longitud mínima : 10
				obligatorio : si
				formato : AAAA-MM-DD

				observaciones :
				tipo : Alfanumérico
				longitud máxima : 300
				obligatorio : no
				rfcConsulta [] :
				tipo : Alfanumérico
				longitud máxima : 13
				obligatorio : no


				tipoFigura :
				tipo : Númerico (TipoFigura)
				longitud máxima : 1 [1,5]
				obligatorio : no
				correoElectronico:
				tipo : alfanumerico
				longitud maxima : 70
				obligatorio: si
				&lt;/pre>


       </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="e-document" minOccurs="0" nillable="true">
				<xsd:annotation>
					<xsd:documentation>Si se envia este dato, el comprobante se tomara como una adenda del cove con e-document igual a este valor</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType >
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoOperacion" type="tns:TipoOperacion">
				<xsd:annotation>
					<xsd:documentation>Tipo de operacion del comporbante
						(IMPORTACION/EXPORTACION)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="patenteAduanal" maxOccurs="unbounded"
				minOccurs="0">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]{4}" />
						<xsd:maxLength value="4" />
						<xsd:minLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fechaExpedicion" nillable="false"
				type="xsd:date" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation> &lt;pre> Fecha en fue expedida la factura.
						El formato esperado es :
						'aaaa-mm-dd'
						donde Día (dd) Mes (mm) Año (aaaa).
						Si no tiene este formato, sera devuelto el mensaje de error
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="observaciones" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						&lt;pre> Campo opcional en caso de ingresar alguna información adicional,
						como alguna leyenda que debe incluir el COVE. &lt;/pre>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="300" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="rfcConsulta" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>&lt;pre>RFC del Usuario que puede consultar el
						cove o relacion de facturas además del que registró.&lt;/pre>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13" />
						<xsd:minLength value="12" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="tipoFigura" nillable="false"
				type="tns:TipoFigura" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						&lt;pre> Indica el Tipo de Figura del contribuyente. Debe ser uno
						de valores de la enumeracion TipoFigura.
						4 - Exportador
						5 - Impertador
						&lt;/pre>      </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="correoElectronico" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						&lt;pre>correo electronico donde se enviara la respuesta de la
						operacion.&lt;/pre>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="70" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="firmaElectronica" type="tns:FirmaElectronica"
				minOccurs="1" nillable="false" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FirmaElectronica">
		<xsd:annotation>
			<xsd:documentation>Datos de la firma electronica</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="certificado" type="xsd:base64Binary"
				minOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Certificado Digital</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cadenaOriginal" type="xsd:string"
				minOccurs="1" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Cadena original para obtener la firma digital
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="firma" type="xsd:base64Binary" minOccurs="1"
				nillable="false">
				<xsd:annotation>
					<xsd:documentation>Firma digital generada</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- Compuestos comunes a las operaciones -->

	<!-- Operacion RecibirCove -->

	<xsd:complexType name="ComprobanteValorElectronico">
		<xsd:annotation>
			<xsd:documentation>&lt;pre>
				Comprobante de Valor Electrónico cuando es solo una factura o comprobante el
				que se registrará
				validaciones:
				numeroFacturaOriginal:
				tipo : Alfanumérico
				longitud máxima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : si
				mercancia :
				tipo : Mercancia
				obligatorio : si
				&lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:ComprobanteValorElectronicoBase">
				<xsd:sequence>
					<xsd:element name="numeroFacturaOriginal" nillable="false"
						minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Numero de folio de la factura
								&lt;/pre>      </xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
								<xsd:whiteSpace value="collapse" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="factura" nillable="false" type="tns:FacturaCove" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Datos de la factura. &lt;/pre>        </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="emisor" nillable="false" type="tns:Emisor"
						minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Emisor de la factura o documento
								original. &lt;/pre>        </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="destinatario" nillable="false"
						type="tns:Destinatario" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Destinatario indicado en la factura
								o documento
								original. &lt;/pre>        </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						name="mercancias" nillable="false" type="tns:Mercancia">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Información para la declaración de
								mercancías
								&lt;/pre>        </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Acuse">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Acuse de Recibo de la petición &lt;/pre>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" name="numeroDeOperacion" type="xsd:integer"
				nillable="false" />
			<xsd:element minOccurs="1" name="horaRecepcion" type="xsd:dateTime"
				nillable="false" />
			<xsd:element minOccurs="1" name="mensajeInformativo"
				type="xsd:string" nillable="false" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SolicitarRecibirCoveServicio">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Petición para la ejecucion de la
				operación RecibirCove del Servicio Web. &lt;/pre>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="comprobantes" nillable="false"
				type="tns:ComprobanteValorElectronico" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>


	<!-- Operacion RecibirCove -->

	<!-- Operacion RecibirRelacionFacturasIA -->
	<xsd:complexType name="FacturaIA">
		<xsd:annotation>
			<xsd:documentation>
				&lt;pre> Datos de la factura que se agregará al Comprobante de Valor
				Electrónico.
				Este puede ser la factura o algun comprobante o ticket. Este comprobante
				no necesariamente tiene valor fiscal.

				Validaciones:
				numeroFactura
				tipo : string
				longitud maxima : 25
				obligatorio : si
				marcancias :
				tipo : Lista Mercancias
				obligatorio : si

				&lt;/pre>    
             </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:FacturaCove">
				<xsd:sequence>
					<xsd:element name="numeroFactura" nillable="false"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
								<xsd:whiteSpace value="collapse" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						name="mercancias" type="tns:Mercancia">
						<xsd:annotation>
							<xsd:documentation>&lt;pre>Descripción de la Mercancía.&lt;/pre>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComprobanteValorElectronicoIA">
		<xsd:annotation>
			<xsd:documentation>
				&lt;pre> Comprobante de Valor Electrónico para empresas IA &lt;/pre>
				Validaciones :
				numeroRelacionFacturas:
				tipo : Alfanumérico
				longitud máxima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : no
				facturas :
				tipo : Lista de FacturaIA
				obligatorio : si
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:ComprobanteValorElectronicoBase">
				<xsd:sequence>
					<xsd:element name="numeroRelacionFacturas" nillable="false"
						minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Numero de folio de la relacion de
								facturas. &lt;/pre>      </xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
								<xsd:whiteSpace value="collapse" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="emisor" nillable="false" type="tns:Emisor"
						minOccurs="1" />
					<xsd:element name="destinatario" type="tns:Destinatario"
						minOccurs="0" />
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="facturas"
						nillable="false" type="tns:FacturaIA" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SolicitarRecibirRelacionFacturasIAServicio">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Petición para la ejecución de la
				operación RecibirRelacionFacturas del Servicio Web para empresas IA.
				&lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="comprobantes" nillable="false"
				type="tns:ComprobanteValorElectronicoIA" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Operacion RecibirRelacionFacturasIA -->


	<!-- Operacion RecibirRelacionFacturasNoIA -->

	<xsd:complexType name="FacturaNoIA">
		<xsd:annotation>
			<xsd:documentation>
				&lt;pre>
				Datos de la factura que se agregará al Comprobante de Valor Electrónico.
				Este puede ser la factura o algun comprobante o ticket.
				Este comprobante no necesariamente tiene valor fiscal.

				Validaciones:
				numeroFactura
				tipo : string
				longitud maxima : 25
				obligatorio : si
				emisor :
				tipo : Emisor
				obligatorio : si
				destinatario :
				tipo : Destinatario
				obligatorio : si
				marcancias :
				tipo : Lista Mercancias
				obligatorio : si

				&lt;/pre>    
            </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:FacturaCove">
				<xsd:sequence>
					<xsd:element name="numeroFactura" nillable="false"
						minOccurs="1">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
								<xsd:whiteSpace value="collapse" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="emisor" nillable="false" type="tns:Emisor"
						minOccurs="1">
						<xsd:annotation>
							<xsd:documentation />
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="destinatario" nillable="false"
						type="tns:Destinatario" minOccurs="1">
						<xsd:annotation>
							<xsd:documentation />
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1"
						name="mercancias" type="tns:Mercancia">
						<xsd:annotation>
							<xsd:documentation>
								&lt;pre>Descripción de la Mercancía.
								&lt;/pre>        
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComprobanteValorElectronicoNoIA">
		<xsd:annotation>
			<xsd:documentation>
				&lt;pre> Comprobante de Valor Electrónico para empresas no Industria
				Automitriz&lt;

				Validaciones :
				numeroRelacionFacturas:
				tipo : Alfanumérico
				longitud máxima : 25
				obligatorio : si
				facturas :
				tipo : Lista de FacturaIA
				obligatorio : si

				/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:ComprobanteValorElectronicoBase">
				<xsd:sequence>
					<xsd:element name="numeroRelacionFacturas" nillable="false"
						minOccurs="1">
						<xsd:annotation>
							<xsd:documentation> &lt;pre> Numero de folio de la relacion de
								facturas. &lt;/pre>      </xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25" />
								<xsd:whiteSpace value="collapse" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="1" name="facturas"
						nillable="false" type="tns:FacturaNoIA" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SolicitarRecibirRelacionFacturasNoIAServicio">
		<xsd:annotation>
			<xsd:documentation> &lt;pre> Petición para la ejecucion de la
				operación RecibirRelacionFacturas del Servicio Web para empresas no
				Industria Automitriz.
				&lt;/pre>    </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="comprobantes" nillable="false"
				type="tns:ComprobanteValorElectronicoNoIA" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>



	<!-- Operacion RecibirRelacionFacturasNoIA -->


	<!-- Elementos para los mensajes de las operaciones -->

	<xsd:element name="solicitarRecibirCoveServicio" type="tns:SolicitarRecibirCoveServicio"
		nillable="false" />
	<xsd:element name="solicitarRecibirCoveServicioResponse"
		type="tns:Acuse" nillable="false" />

	<xsd:element name="solicitarRecibirRelacionFacturasIAServicio"
		type="tns:SolicitarRecibirRelacionFacturasIAServicio" nillable="false" />
	<xsd:element name="solicitarRecibirRelacionFacturasIAServicioResponse"
		type="tns:Acuse" nillable="false" />

	<xsd:element name="solicitarRecibirRelacionFacturasNoIAServicio"
		type="tns:SolicitarRecibirRelacionFacturasNoIAServicio" nillable="false" />
	<xsd:element name="solicitarRecibirRelacionFacturasNoIAServicioResponse"
		type="tns:Acuse" nillable="false" />



</xsd:schema>
