data/wsdl/RecibirCove.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="RecibirCove"
	targetNamespace="http://www.ventanillaunica.gob.mx/cove/ws/service/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
	xmlns:tns="http://www.ventanillaunica.gob.mx/cove/ws/service/"
	xmlns:comun="http://www.ventanillaunica.gob.mx/cove/ws/oxml/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<wsp:Policy wsu:Id="BasicHttpBinding_IReceptorService_policy">
		<wsp:ExactlyOne >
			<wsp:All >
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" >
					<wsp:Policy >
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false"/>
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax/>
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp/>
					</wsp:Policy>
				</sp:TransportBinding >
				<sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10 />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
				<sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.ventanillaunica.gob.mx/cove/ws/oxml/Imports">
			<xsd:import namespace="http://www.ventanillaunica.gob.mx/cove/ws/oxml/"  schemaLocation="./RecibirCove.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- Operacion RecibirCove -->
	<wsdl:message name="IReceptor_RecibirCoveServicio_InputMessage">
		<wsdl:documentation>Petición del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirCoveServicio"
			name="peticion" />
	</wsdl:message>
	<wsdl:message name="IReceptor_RecibirCoveServicio_OutputMessage">
		<wsdl:documentation>Respuesta del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirCoveServicioResponse"
			name="respuesta" />
	</wsdl:message>
	<!-- Operacion RecibirCove -->
	
	<!-- Operacion RecibirRelacion de Facturas para IA -->	
	<wsdl:message name="IReceptor_RecibirRelacionFacturasIAServicio_InputMessage">
		<wsdl:documentation>Petición del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirRelacionFacturasIAServicio"
			name="peticion" />
	</wsdl:message>
	<wsdl:message name="IReceptor_RecibirRelacionFacturasIAServicio_OutputMessage">
		<wsdl:documentation>Respuesta del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirRelacionFacturasIAServicioResponse"
			name="respuesta" />
	</wsdl:message>
	<!-- Operacion RecibirRelacion de Facturas para IA -->
	
	<!-- Operacion RecibirRelacion de Facturas para No IA -->	
	<wsdl:message name="IReceptor_RecibirRelacionFacturasNoIAServicio_InputMessage">
		<wsdl:documentation>Petición del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirRelacionFacturasNoIAServicio"
			name="peticion" />
	</wsdl:message>
	<wsdl:message name="IReceptor_RecibirRelacionFacturasNoIAServicio_OutputMessage">
		<wsdl:documentation>Respuesta del servicio</wsdl:documentation>
		<wsdl:part element="comun:solicitarRecibirRelacionFacturasNoIAServicioResponse"
			name="respuesta" />
	</wsdl:message>
	<!-- Operacion RecibirRelacion de Facturas para No IA -->





	<wsdl:portType name="IReceptor" >
		<wsdl:operation name="RecibirCove" >
			<wsdl:documentation>
&lt;pre&gt;
Recibe una lista de facturas para registrar un Comprobante de Valor Electrónico para cada una. 
Esta operación debera ser usada cuando se desee generar un coves que tengan solo una factura. 
Si se tienen mas facturas, se debera registrar una Relacion  de Facturas. 
&lt;/pre&gt;
			</wsdl:documentation>
			<wsdl:input message="tns:IReceptor_RecibirCoveServicio_InputMessage" />
			<wsdl:output message="tns:IReceptor_RecibirCoveServicio_OutputMessage" />
		</wsdl:operation>
		
		
		<wsdl:operation name="RecibirRelacionFacturasIA">
			<wsdl:documentation>
&lt;pre&gt;
Recibe una lista de Relaciones de Facturas para registrar un Comprobante de Valor Electrónico por cada relacion de facturas en la petición. 
Esta operación sera usada solo para Relaciones de Facturas de Empresas de la Industria Automotriz. Si se detecta que el usuario que envia no 
es una empresa Autommitriz, se devolvera un error.
&lt;/pre&gt;
			</wsdl:documentation>
			<wsdl:input message="tns:IReceptor_RecibirRelacionFacturasIAServicio_InputMessage" />
			<wsdl:output message="tns:IReceptor_RecibirRelacionFacturasIAServicio_OutputMessage" />
		</wsdl:operation>
		
		<wsdl:operation name="RecibirRelacionFacturasNoIA">
			<wsdl:documentation>
&lt;pre&gt;
Recibe una lista de Relaciones de Facturas para registrar un Comprobante de Valor Electrónico por cada relacion de facturas en la petición. 
Esta operación sera usada solo para Relaciones de Facturas de Empresas que no pertenecen a la Industria Automotriz
&lt;/pre&gt;
			</wsdl:documentation>
			<wsdl:input message="tns:IReceptor_RecibirRelacionFacturasNoIAServicio_InputMessage" />
			<wsdl:output message="tns:IReceptor_RecibirRelacionFacturasNoIAServicio_OutputMessage" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding
		name="IReceptorEndpointBinding" type="tns:IReceptor">
		<wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BasicHttpBinding_IReceptorService_policy"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="RecibirCove">
			<soap:operation
				soapAction="http://www.ventanillaunica.gob.mx/RecibirCove"  />
				
			<wsdl:input>
								
				<soap:body use="literal" /> 
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="RecibirRelacionFacturasIA">
			<soap:operation
				soapAction="http://www.ventanillaunica.gob.mx/RecibirRelacionFacturasIA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RecibirRelacionFacturasNoIA">
			<soap:operation
				soapAction="http://www.ventanillaunica.gob.mx/RecibirRelacionFacturasNoIA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="RecibirCoveService">
		<wsdl:documentation>
&lt;pre&gt;
Recepcion de Facturas o relaciones de facturas para la generacion de Comprobantes de Valor Electrónico (COVE)
&lt;/pre&gt;
			</wsdl:documentation>
		<wsdl:port binding="tns:IReceptorEndpointBinding" name="IReceptorBinding">
			<soap:address
				location="http://www.ventanillaunica.gob.mx/RecibirCoveService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
